:root {
  /* general */
  --accent-color: #191c36;
  --accent-color-hover: #363c5e;
  --white: #ffffff;
  --white-hover: #cccccc;

  /* Light mode */
  --text-color: #424242;
  --text-accent-color: #191c36;
  --bg-color: #f4f4f4;
  --li-hover: #363c5e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

[data-theme="dark"] {
  --text-color: #f4f4f4;
  --text-accent-color: #ffffff;
  --bg-color: #242424;
  --li-hover: #cccccc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-accent-color);
}

p {
  line-height: 1.5;
}

.container {
  max-width: 75%;
  margin-inline: auto;
}
